﻿<div class="modal fade" id="modalFormID" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group" id="taskNumberFormId">
                        <label>Task Number</label>
                        <input type="text" class="form-control" id="taskNumberId" placeholder="Number" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label>Task Status</label>
                        <input type="text" class="form-control" id="taskStatusId"  placeholder="Status" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label>Task Name</label>
                        <input type="text" class="form-control" id="taskNameId"   placeholder="Task Name" />
                    </div>
                    <div class="form-group">
                        <label>Descriptiom</label>
                        <input type="text" class="form-control" id="taskDescriptionId"   placeholder="Task Description" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="modalAddBtnId">Add</button>
                <button type="submit" class="btn btn-primary" id="modalUpdateBtnId">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
