﻿@{
    /**/

    ViewBag.Title = "Home Page";
}
@section Scripts
   {
    @Scripts.Render("~/bundles/TicketsBoardController")
}
<div class="container">
    <div>
        <table id="agileTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        To Do
                        <div> <button id="btnToDoId" class="btn btn-primary" data-toggle="modal">Add</button></div>

                    </th>
                    <th>
                        In Progress
                        <div> <button id="btnInProgressId" class="btn btn-primary" data-toggle="modal" >Add</button></div>
                    </th>
                    <th>
                        Done
                        <div> <button id="btnDoneId" class="btn btn-primary" data-toggle="modal">Add</button></div>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr style="height:400px">
                    <td class="column" id="columnToDoId" data-columnstatus="To Do"></td>
                    <td class="column" id="columnInProgressId" data-columnstatus="In Progress"></td>
                    <td class="column" id="columnDoneId" data-columnstatus="Done"></td>
                </tr>
            </tbody>
        </table>
    </div>

    @Html.Partial("_ModalFormView");

</div>