﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.itemTicket {
    display:block;
    background-color: white;
    border: 1px solid blue;
    color:  black;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    margin-top:10px;
}

ul {
    list-style-type: none;
}
.clickableElement{
}